<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delicious</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <!-- =======================================================
        Theme Name: Delicious
        Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>
    <!--banner-->
    <section id="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="inner text-center">
                        <h1 class="logo-name">Delicious</h1>
                        <h2>CARTA DIGITAL del BAR.</h2>
                        <p>Especialistas en tragos nacionales!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / banner -->
    <!--about-->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center marb-35">
                    <h1 class="header-h">Los mejores tragos y tablas del pais</h1>
                    <p class="header-p">
                        Nuestro chef y barman trabajan con los mejores ingredientes y mas naturales
                        <br>para entregar el mejor sabor y sensacion a nuestros clientes.
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-info">
                            <h2 class="heading">Nuestra especialidad....</h2>
                            <p>Nuestras tablas con los mejores ingredinetes del pais, acompañados de un buen trago, haran que tu noche comience de una gran forma.</p>
                            <div class="details-list">
                                <ul>
                                    <li><i class="fa fa-check"></i>Las mejores tablas</li>
                                    <li><i class="fa fa-check"></i>Ingredientes naturales y frecos de la zona.</li>
                                    <li><i class="fa fa-check"></i>Nuestra carta nacional e internacional</li>
                                    <li><i class="fa fa-check"></i>Los mejores tragos del pais</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="Styles/img/res01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
    <!--/about-->
    <!-- event -->
    <section id="event">
        <div class="bg-color" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:60px;">
                        <h1 class="header-h">PROMOCIONES DE LA SEMANA</h1>
                        @*<p class="header-p">Decorations 100% complete here</p>*@
                    </div>
                    <div class="col-md-12" style="padding-bottom:60px;">
                        <div class="item active left">
                            @*<div class="col-md-6 col-sm-6 left-images">
                                <img src="Styles/img/res02.jpg" class="img-responsive">
                            </div>*@
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡LUNES!!!</h2>
                                    <h2>Todas las tablas con 20% de descuento</h2>
                                    <p>Disfruta las mejores tablas del pais, con un 20% porciento de descuento, para que el lunes sea el mejor cominezo de semana!!.</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        07:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡MARTES!!!</h2>
                                    <h2>2x1 en cervezas</h2>
                                    <p>Todas nuestras cervezas nacionales 2x1!!.</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        07:30pm - 10:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡MIERCOLES!!!</h2>
                                    <h2>Todas las mujeres con 50% de descuento en trago preparado</h2>
                                    <p>El mejor descuento para ellas. Todos los tragos preparados 50% de descuento a partir de las 9:30 PM</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        09:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡JUEVES!!!</h2>
                                    <h2>Piscolas a luca!!</h2>
                                    <p>Piscolas a luca para comenzar a disfrutar el fin de semana.</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        07:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡VIERNES!!!</h2>
                                    <h2>Todas las tablas con 20% de descuento</h2>
                                    <p>Disfruta las mejores tablas del pais, con un 20% porciento de descuento, para que el lunes sea el mejor cominezo de semana!!.</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        07:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 details-text">
                                <div class="content-holder">
                                    <h2>¡¡¡SABADO!!!</h2>
                                    <h2>Todas las tablas mas dos tragos a elección con 30% de descuento</h2>
                                    <p>Para comenzar un sabado tranquilo, disfruta de la tabla que mas te guste junto a tu acompañante más dos tragos a eleccion con 30% de descuento.</p>
                                    <address>
                                        <strong>Hora: </strong>
                                        03:30pm - 10:30pm
                                    </address>
                                    @*<a class="btn btn-imfo btn-read-more" href="Styles/events-details.html">Read more</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ event -->
    <!-- menu -->
    <section id="menu-list" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center marb-35">
                    <h1 class="header-h">Menú</h1>
                    <p class="header-p">
                        Selecciona lo que quieres y realiza tu pedido de forma rápida y sin complicaciones.
                    </p>
                </div>
                <div class="col-md-12  text-center gallery-trigger">
                    <ul>
                        <li><a class="filter" data-filter="all">Mostrar todas</a></li>
                        <li><a class="filter" data-filter=".category-1">tragos</a></li>
                        <li><a class="filter" data-filter=".category-2">tablas</a></li>
                        <li><a class="filter" data-filter=".category-3">pizzas</a></li>
                    </ul>
                </div>
                <div id="Container">
                    <div class="mix category-1 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Pisco Mistral 30°</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$3000</span>
                        </span>
                        <span class="menu-subtitle">Pisco mistral 30° con bebida</span>
                    </div>
                    <div class="mix category-1 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-1 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-1 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-2 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-2 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-2 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-2 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-3 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-3 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-3 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                    <div class="mix category-3 menu-restaurant" data-myorder="2">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Food Item Name</a>
                            <span style="left: 166px; right: 44px;" class="menu-line"></span>
                            <span class="menu-price">$20.99</span>
                        </span>
                        <span class="menu-subtitle">Neque porro quisquam est qui dolorem</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ menu -->
    <!-- contact -->
    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="header-h">Realiza tu pedido</h1>
                    <p class="header-p">
                        Ingresa tu nombre, rut y el número de mesa para terminar tu pédido.
                        @*<br>nibh euismod tincidunt ut laoreet dolore magna aliquam.*@
                    </p>
                </div>
            </div>
            <div class="row msg-row">
                <div class="col-md-4 col-sm-4 mr-15">
                    <div class="media-2">
                        <div class="media-left">
                            <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
                        </div>
                        <div class="media-body">
                            <h4 class="dark-blue regular">Número de telefono</h4>
                            <p class="light-blue regular alt-p">+569 78686717 - <span class="contacts-sp">Número para reserva</span></p>
                        </div>
                    </div>
                    <div class="media-2">
                        <div class="media-left">
                            <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
                        </div>
                        <div class="media-body">
                            <h4 class="dark-blue regular">Horario</h4>
                            <p class="light-blue regular alt-p"> Lunes a jueves 17:00 - 02:00</p>
                            <p class="light-blue regular alt-p">
                                Viernes y sabado 13:00 - 03.00
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <form action="" method="post" role="form" class="contactForm">
                        <div id="sendmessage">Your booking request has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <div class="col-md-6 col-sm-6 contact-form pad-form">
                            <div class="form-group label-floating is-empty">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Tú nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>

                        </div>
                        @*<div class="col-md-6 col-sm-6 contact-form">
                            <div class="form-group">
                                <input type="date" class="form-control label-floating is-empty" name="date" id="date" placeholder="Date" data-rule="required" data-msg="This field is required" />
                                <div class="validation"></div>
                            </div>
                        </div>*@
                        <div class="col-md-6 col-sm-6 contact-form pad-form">
                            <div class="form-group">
                                <input type="text" class="form-control label-floating is-empty" name="mesa" id="email" placeholder="Tú mesa" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        @*<div class="col-md-6 col-sm-6 contact-form">
                            <div class="form-group">
                                <input type="time" class="form-control label-floating is-empty" name="time" id="time" placeholder="Time" data-rule="required" data-msg="This field is required" />
                                <div class="validation"></div>
                            </div>
                        </div>*@
                        <div class="col-md-6 col-sm-6 contact-form">
                            <div class="form-group">
                                <input type="text" class="form-control label-floating is-empty" name="Telefono" id="phone" placeholder="Tú número" data-rule="required" data-msg="This field is required" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        @*<div class="col-md-6 col-sm-6 contact-form">
                            <div class="form-group">
                                <input type="text" class="form-control label-floating is-empty" name="people" id="people" placeholder="People" data-rule="required" data-msg="This field is required" />
                                <div class="validation"></div>
                            </div>
                        </div>*@
                        @*<div class="col-md-12 contact-form">
                            <div class="form-group label-floating is-empty">
                                <textarea class="form-control" name="message" rows="5" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>

                        </div>*@
                        <div class="col-md-12 btnpad">
                            <div class="contacts-btn-pad">
                                <button class="contacts-btn">Hacer pédido</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- / contact -->
    <!-- footer -->
    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Delicious</h4>
                        <address>324 Ellte Road<br>Delhi, DL 110013</address>
                        <div class="social-list">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <p class="copyright clear-float">
                            © Delicious Theme. All Rights Reserved
                            <div class="credits">
                                <!--
                                    All the links in the footer should remain intact.
                                    You can delete the links only if you purchased the pro version.
                                    Licensing information: https://bootstrapmade.com/license/
                                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
                                -->
                                Designed by <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->


</body>
</html>